@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@500&family=Ubuntu+Condensed&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    background-color: darkolivegreen;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;
}

.list{
  height:100%;
  width:20%;
  position: absolute;
  padding-top:10px;
  left: 0;
}

.working-frame{
  height:100%;
  width:80%;
  position: absolute;
  padding-top:10px;
  right: 0;
}

.fields{
    top: 50px;
    left: 185px;
    height: 40px;
    width: 800px;
    font-size: 14px;
    border-radius: 4px;
}

.logo{
    cursor: pointer;
    margin-right: 560px;
}

.search-box{
    position: absolute;
    top: 40px;
    left: 550px;
    transform: translate(-50%,-50%);
    background: rgb(255,165,0);
    height: 40px;
    border-radius: 40px;
    padding: 1%;
}

.search-btn{
    position: relative;
    bottom: 15px;
    left: 0px;
    color: aqua;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(255,165,0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #edf0f1;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: rgb(255,99,71);
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(255,165,0);
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(255,165,0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgb(255,99,71);
}

:root{
    --primary: rgba(255,255,255,0.8);
    --secondary: rgba(255,255,255,0.8);
}

/*=========================================================*/

.main{
    width: 100%;
    height: 1000px;
    background: linear-gradient(135deg, var(--primary), var(--secondary)),
    url("../images/chris-lejarazu-08wxrVv5rp8-unsplash.jpg") no-repeat center center;
    background-size: cover;

    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main h1{
    font-size: 60px;
    font-family: "Ubuntu condensed";
    padding: 15px;
    color: black;
    text-align: center;
}

.main .image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.main .image-container .image{
    position: relative;
    height: 200px;
    width: 300px;
    border: 10px solid white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
}

.main .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.main .image-container .image:hover img {
    transform: scale(1.1);
}

.main .image-container .image p{
    position: absolute;
    bottom: 0; left: 0;
    background: rgba(0,0,0,0.6);
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    font-family: "Ubuntu condensed";
    font-size: 14px;
}

.main .popup-window{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.main .popup-window .close-btn{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.main .popup-window .white-board{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 5px;
    width: 750px;
    height: 450px;
    object-fit: cover;
}

h2{
    text-align: center;
    padding: 10px;
    font-family: "Ubuntu condensed";
    font-size: 32px;
}

.white-board p{
    padding: 10px;
    text-align: left;
    font-size: 20px;
    font-family: "Ubuntu condensed";
}

.white-board .text-source{
    padding: 10px;
    text-align: left;
    font-size: 18px;
    font-family: "Ubuntu condensed";
    color: darkcyan;
}

@media (max-width: 768px){
    .main .popup-window img{
        width: 95%;
    }
}

#desc{
    height: 125px;
    width: 800px;
    font-size: 14px;
}
