@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@500&family=Ubuntu+Condensed&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    background-color: darkolivegreen;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;
}

.logo{
    cursor: pointer;
    margin-right: 560px;
}

.search-box{
    position: absolute;
    top: 40px;
    left: 550px;
    transform: translate(-50%,-50%);
    background: rgb(255,165,0);
    height: 40px;
    border-radius: 40px;
    padding: 1%;
}

.search-btn{
    position: relative;
    bottom: 15px;
    left: 0px;
    color: aqua;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(255,165,0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #edf0f1;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: rgb(255,99,71);
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(255,165,0);
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(255,165,0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgb(255,99,71);
}

:root{
    --primary: rgba(0, 0, 0, 0.6);
    --secondary: rgba(0, 0, 0, 0.6);
}

/*===============================================*/

#main{
    width: 100%;
    height: 2000px;
    background: linear-gradient(135deg, var(--primary), var(--secondary)),
    url("images/ankit-choudhary-SDP7QQjHWNI-unsplash.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#title{
    color: black;
    position: relative;
    top: 40px;
    text-align: center;
    font-size: 60px;
    font-family: "Ubuntu condensed";
    font-weight: 500;
}

#white-cover{
    width: 1200px;
    height: 2000px;
    background-color: #edf0f1;
    opacity: 90%;
    position: absolute;
    left: 10%;
    white-space: nowrap;
    overflow-x: auto;
}

h2{
    font-size: 30px;
    font-family: "Ubuntu condensed";
    padding: 10px;
}

p{
    font-size: 20px;
    font-family: "Ubuntu condensed";
}

#admin-title{
    position: relative;
    top: 100px;
    left: 120px;
}

#teo{
    position: relative;
    top: 130px;
    left: 120px;
    border-radius: 50%;
}

#giannis{
    position: relative;
    top: 130px;
    left: 180px;
    border-radius: 50%;
}

#gregoris{
    position: relative;
    top: 130px;
    left: 240px;
    border-radius: 50%;
}

#eraldo{
    position: relative;
    top: 130px;
    left: 300px;
    border-radius: 50%;
}

.admin-txt{
    position: relative;
    top: 160px;
    display: inline-block;
    padding: 60px;
    right: 740px;
}

/*==========*/

.pic-left{
    height: 300px;
    z-index: 10;
    position: relative;
    top: 200px;
    left: 100px;
    border-radius: 20px;
}

.pic-right{
    height: 300px;
    z-index: 10;
    position: relative;
    top: 200px;
    left: 900px;
    border-radius: 20px;
}

#title1{
    position: relative;
    top: 250px;
    left: 290px;
}

#text1{
    position: relative;
    left: 300px;
    bottom: 50px;
}

#title2{
    position: relative;
    top: 250px;
    left: 550px;
}

#text2{
    position: relative;
    right: 335px;
    bottom: 50px;
    text-align: right;
}

#title3{
    position: relative;
    top: 250px;
    left: 340px;
}

#text3{
    position: relative;
    left: 350px;
    bottom: 50px;
}